@font-face{
  
    font-family: 'memfis';
    src: url(../fonts/MangabeyRegular-rgqVO.otf);
  }
  
  nav{
   
  font-size:20px;

    
    text-color:white;

  
  background: linear-gradient(87deg, #183058 0, #1a174d 100%) !important;
  }
  body{
    background-color:var(--bs-5);
  }
  .nav-link{
    color:white;
  }